.plainclass {
  color: black;
  background-color: #ff6016;
}

.column {
  float: left;
  display: inline-block;
  background: #ffb222;
  height: 130px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.left {
  width: 130px;
}

.right1 {
  height: 80px;
  width: calc(100% - 200px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  font-size: 1.5em;
  font-weight: bold;
}

.right2 {
  height: 50px;
  width: calc(100% - 200px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  font-size: 1.1em;
  font-weight: bold;
}
